<!DOCTYPE html>

<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <header>

        </header>
        <main>
            <div>
                <h1>{{ todolist.name }}</h1>
                <h2>Tasks</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for current in todolist.items.all %}
                        <td>{{ current.task }}</td>
                        <td>{{ current.due_date }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </main>
        <footer>

        </footer>
        
    </body>
</html>