<!DOCTYPE html>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <header>

        </header>
        <main>
            <div>
                <h1>My Lists</h1>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for current in todolist_list %}
                    <tr>
                        <td><a href="{% url 'show_todolist' current.id %}">{{ current.name }}</a></td>
                        <td> {{current.items.all|length}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
        <footer>

        </footer>
        
    </body>
</html>